<div class="details fadeIn animated" ng-model="photos" ng-show="dataLoaded">
    <div class="col-1">
        <a href="{{photos[photo_id].link}}" target="blank" alt="link">{{photos[photo_id].title}}</a>
        <a href="#/" alt="return to main page">
            <button class="back">Back</button>
        </a>
    </div>
    <div class="col-2">
        <a href="https://www.flickr.com/people/{{photo.author_id}}" target="blank" alt="author">Photo Author</a>
        <span>&nbsp;|&nbsp;</span>
        <p>Published: {{photos[photo_id].published | date:"dd ' ' MMM ' ' yyyy 'at' HH:mm"}}</p>
    </div>
    <div class="col-3">
        <div class="info-photo" ng-bind-html="photos[photo_id].description"></div>
        <div class="info-details">
            <span ng-bind-html="photos[photo_id].description"></span>
            <p>Tags: {{photos[photo_id].tags}}</p>
        </div>
    </div>
</div>
<i ng-hide="dataLoaded" class="fa fa-spinner fa-pulse fa-5x"></i>